.banner {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 220px;
    background-image: url(../images/shutterstock_681334471.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 80px;
 
    &__title {
        margin-bottom: 16px;
        text-align: left;
        color: white;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.5;
        letter-spacing: -1px;
        margin: 0;
    }


    &__desc {
        color: white;
        text-align: left;
        font-size: 24px;
        line-height: 1.5;
        margin: 0;
        margin-top: 24px;
        margin-bottom: 40px;
    }

    &__order_call{
        background-color: #DB2F09;
        color: #fff;
        padding-left: 60px;
        padding-right: 60px;
    }

    &__action{
        @include element_adaptive;
        margin-top: 50px;
        display: flex;

        &__first{
            @include element_adaptive;
            display: flex;
            flex-grow: 8; 
            margin-right: 30px;
        }

        &__second{
            flex-grow: 1; 
            justify-content:end;
            margin-top: 42px;
            a {
             padding: 12px 22px;
            }
        }


        &__block_input{
            width: 100%;
            display: flex;
            flex-direction: column;
            label{
                color: white;
                margin-bottom: 8px;
            }

            input{
                height: 50px;
                font-size: 18px;
                padding-left: 45px;
            }

            .blue {
                background: url('../images/location_blue.png') no-repeat scroll 15px 15px;
                background-color: white;
            }

            .red {
                background: url('../images/location_red.png') no-repeat scroll 15px 15px;
                background-color: white;
                background-size: 18px;
            }


            .weight {
                background: url('../images/weight.png') no-repeat scroll 15px 15px;
                background-color: white;
            }
        }

    }


}