.header {
    position: fixed;
    left: 0px;
    top: 20px;
    width: 100%;
    z-index: 2;
    &__container {
        max-width: 1230px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__brick {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }

    &__brick:first-child {
        @media screen and (max-width: $breakpoint-md) {
            display: flex;
        }
    }


    &__menu_burger {
        display: flex;
        width: 64px;
        height: 58px;
        margin-right: 35px;
    }
    &__logo {
        display: flex;
        width: 226px;
        height: 45px;
    }
    &__link{
        color: #FFFFFF;
    }
    &__vector{
        background-color: #FFFFFF;
        height: 60px;
        width: 1px;
        margin-right: 27px;
        margin-left: 27px;
    }
    &__location{
        width: 20px;
        height: 30px;
        margin-right: 7px;
    }
}

